#root {
  max-width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  height: 100vh;
}

main {
  width: 100vw;
}

/* Parent container */
.list-container {
  display: flex;
  justify-content: space-around;
}

/* Pokemon list */
.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  width: 600px;
}

.pokemon-card {
  height: 104;
  width: 98;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0px 1px 6px 4px rgba(187, 177, 185, 1);
  margin: 2px;
}

.pokemon-card img {
  cursor: pointer;
}

/* Pokedex list */
.pokedex-list {
  margin: 1px;
}

.pokedex-card-container {
  display: flex;
  justify-content: space-around;
  margin: 2px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0px 1px 6px 4px rgba(187, 177, 185, 1);
}

.pokedex-card {
  height: 298px;
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
}

.pokedex-card img {
  padding: 2px;
}

.pokedex-details {
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ash {
  display: flex;
  margin: 2px;
}
