#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.list-container {
  display: flex;
}

.pokemon-list {
  width: 500px;
  height: 300px;
  border: 1px solid black;
  margin: 1px;
}
.pokedex-list {
  width: 500px;
  height: 300px;
  border: 1px solid black;
  margin: 1px;
}
